html
	body
		ul
			each card, i in model.playersHand.cards
				li #{card.displayValue}	
		br
		span Your total: #{model.playersHand.total()} 
		if model.playersHand.bust()
			br
			br
			strong You lose! 
			a(href='/') New Game
		else
			a(href='/twist') Twist
			span &nbsp;or 
			a(href='/stick') Stick